/* src/components/PettyCashTable.css */
.petty-cash-table-container {
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 40px;
  margin-left: 280px;
  margin-right: 20px;
  margin-bottom: 100px;
  font-family: 'Franklin Gothic';
}
.header {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}


.petty-cash-form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}
.date-input{
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.petty-cash-form input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 22%;
}

.add-button {
  background-color: #4caf50;
  color: white;
  padding: 8px 16px;
  border: none;
  width: 90px;
  border-radius: 4px;
  cursor: pointer;
}

.add-button:hover {
  background-color: #45a049;
}

.petty-cash-table {
  width: 100%;
  border-collapse: collapse;
}

.petty-cash-table th,
.petty-cash-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

.petty-cash-table th {
  background-color: #f2f2f2;
}

button {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #b30000;
  color: white;
}

button:hover {
  background-color: #e64a19;
}

.table-container {
  position: relative;
  padding-bottom: 40px; /* Add padding to the bottom to avoid overlap with the button */
}


.download-button {
  position: absolute;
  left: 0; /* Align to the bottom-left corner */
  background-color: #b30000;
  color: white;
  border: none;
  padding: 5px 10px; /* Reduce padding to make the button shorter */
  border-radius: 4px;
  font-size: 14px; /* Adjust font size for a more compact button */
  cursor: pointer;
  transition: background-color 0.3s;
  width: 250px;
  height: 40px;
  margin-top: 40px;
  margin-left: 450px;
}

.download-button:hover {
  background-color: #800000;
}
